/ - if @place && @comparison_result
/   - class_name = "small_form"

.fieldset
  = form_tag root_path do
    %p.text-center Search for your place
    .row.field-section
      = label_tag :name, nil,class: "col-sm-2"
      = text_field_tag "business[name]", nil,class: "header-input col-sm-9"
    .row.field-section  
      = label_tag :address, nil,class: "col-sm-2"
      = text_field_tag "business[address]", nil,class: "header-input col-sm-9"
    .row.field-section
      = label_tag :city, nil,class: "col-sm-2"
      = text_field_tag "business[city]", nil,class: "header-input col-sm-9"
    .row.field-section  
      = label_tag :state, nil,class: "col-sm-2"
      = text_field_tag "business[state]", nil,class: "header-input col-sm-9"
    .row.field-section  
      = label_tag :zip, nil,class: "col-sm-2"
      = text_field_tag "business[zip]", nil,class: "header-input col-sm-9"
    .row.field-section  
      = label_tag :phone, nil,class: "col-sm-2"
      = text_field_tag "business[phone]", nil,class: "header-input col-sm-9"
    .row.field-section
      .col-sm-11 
        %span
          = submit_tag :submit
- if @place && @comparison_result
  / = params["business"]
  / %br
  / = params["business"].values.join(' ')
  %table.col-sm-12 
    %thead
      %tr
        %th field name 
        %th does it match 
    %tbody 
      %tr
        %td= @place.name 
        %td N/A
      %tr
        %td= @place.formatted_address
        
        - result = "street_number: #{@comparison_result[:street_number]} - street address: #{@comparison_result[:street_address]} "

        %td= result
      %tr 
        %td= @place.city
        %td= @comparison_result[:city]
   
      %tr
        %td= @place.region
        %td= @comparison_result[:state]
     
      %tr
        %td= @place.postal_code
        %td= @comparison_result[:postal_code]
  
      %tr
        %td= @place.formatted_phone_number
        %td= @comparison_result[:phone]
  
   

  .div.reviews
    - @place.reviews.each do |review|
      = render "review", review: review
