/ - if @place && @comparison_result
/   - class_name = "small_form"

.fieldset
  = form_tag root_path do
    %p.text-center Search for your place
    .row.field-section
      = label_tag :name, nil,class: "col-sm-2"
      = text_field_tag "business[name]", nil,class: "header-input col-sm-9"
    .row.field-section  
      = label_tag :address, nil,class: "col-sm-2"
      = text_field_tag "business[address]", nil,class: "header-input col-sm-9"
    .row.field-section
      = label_tag :city, nil,class: "col-sm-2"
      = text_field_tag "business[city]", nil,class: "header-input col-sm-9"
    .row.field-section  
      = label_tag :state, nil,class: "col-sm-2"
      = text_field_tag "business[state]", nil,class: "header-input col-sm-9"
    .row.field-section  
      = label_tag :zip, nil,class: "col-sm-2"
      = text_field_tag "business[zip]", nil,class: "header-input col-sm-9"
    .row.field-section  
      = label_tag :phone, nil,class: "col-sm-2"
      = text_field_tag "business[phone]", nil,class: "header-input col-sm-9"
    .row.field-section
      .col-sm-11 
        %span
          = submit_tag :submit

- if @place && @comparison_result
  / = params["business"]
  / %br
  / = params["business"].values.join(' ')
  %table.col-sm-12 
    %thead
      %tr
        %th Field name 
        %th Does it match 
    %tbody 
      %tr
        %td Name
        - if @comparison_result[:name]
          - class_name = "success"
        - else
          - class_name = "error"
        %td{class: class_name}= @place.name

      %tr
        %td Address
        - if @comparison_result[:address]
          - class_name = "success"
        - else
          - class_name = "error"
        
        %td{class: class_name}= @place.formatted_address

        / %td= @place.formatted_address
        
        / - result = "street_number: #{@comparison_result[:street_number]} - street address: #{@comparison_result[:street_address]} "

        / %td= result
      %tr 
        %td City
        - if @comparison_result[:city]
          - class_name = "success"
        - else
          - class_name = "error"
        
        %td{class: class_name}= @place.city
   
      %tr
        %td State
        - if @comparison_result[:state]
          - class_name = "success"
        - else
          - class_name = "error"
        
        %td{class: class_name}= @place.region
     
      %tr
        %td Postal Code
        - if @comparison_result[:postal_code]
          - class_name = "success"
        - else
          - class_name = "error"
        
        %td{class: class_name}= @place.postal_code
  
      %tr
        %td Phone
        - if @comparison_result[:phone]
          - class_name = "success"
        - else
          - class_name = "error"
        
        %td{class: class_name}= @place.formatted_phone_number
   

  .div.reviews
    - @place.reviews.each do |review|
      = render "review", review: review
